*{

box-sizing:border-box;

font-family:Arial,sans-serif;

}



body{

margin:0;

background:#0f0f0f;

color:white;

}



header{

display:flex;

align-items:center;

justify-content:center;

position:relative;

padding:25px 5%;

background:#121212;

border-bottom:1px solid #262626;

}



.logo-page{

display:flex;

align-items:center;

gap:12px;

}



.logo-page i{

font-size:30px;

color:#9b5cff;

}



.logo-page h1{

margin:0;

font-size:30px;

color:#9b5cff;

}



.logo-page span{

color:#9b5cff;

}





.back{

position:absolute;

left:5%;

display:flex;

align-items:center;

gap:10px;

text-decoration:none;

color:white;

background:#1d1d1d;

padding:10px 18px;

border-radius:25px;

font-weight:bold;

transition:.3s;

}



.back:hover{

background:#9b5cff;

}





main{

width:90%;

max-width:900px;

margin:auto;

padding:30px 0;

}





.hotkeys-container{

background:#181818;

padding:25px;

border-radius:15px;

box-shadow:0 0 15px #000;

}





h2{

text-align:center;

color:#9b5cff;

font-size:30px;

}





.description{

text-align:center;

color:#aaa;

margin-bottom:30px;

}





.hotkey-card{

display:flex;

justify-content:space-between;

align-items:center;

background:#222;

padding:18px;

border-radius:12px;

margin-bottom:15px;

}



.hotkey-card h3{

margin:0 0 8px;

color:white;

font-size:18px;

}



.hotkey-card span{

color:#aaa;

font-size:15px;

}





.hotkey-card button{

background:#9b5cff;

border:none;

color:white;

padding:10px 20px;

border-radius:20px;

cursor:pointer;

font-weight:bold;

}



.hotkey-card button:hover{

background:#8b5cf6;

}





.reset{

width:100%;

margin-top:25px;

padding:15px;

border:none;

border-radius:12px;

background:#ff4757;

color:white;

font-size:17px;

font-weight:bold;

cursor:pointer;

}



.reset:hover{

background:#ff6b81;

}









/* TEMA CLARO */



body.light{

background:white;

color:#111;

}



body.light header{

background:white;

border-bottom:1px solid #ddd;

}



body.light .logo-page h1{

color:#111;

}



body.light .back{

background:#eee;

color:#111;

}



body.light .hotkeys-container{

background:white;

box-shadow:0 5px 20px rgba(0,0,0,.1);

}



body.light .hotkey-card{

background:#f5f5f5;

}



body.light .hotkey-card h3{

color:#111;

}



body.light .description{

color:#555;

}



body.light .hotkey-card span{

color:#777;

}









/* MOVIL */



@media(max-width:600px){



header{

padding:20px 10px;

}



.logo-page h1{

font-size:24px;

}



.logo-page i{

font-size:24px;

}



.back{

left:10px;

padding:8px 12px;

font-size:14px;

}



main{

width:95%;

}



.hotkeys-container{

padding:18px;

}



.hotkey-card{

flex-direction:column;

align-items:flex-start;

gap:15px;

}



.hotkey-card button{

width:100%;

}



}